{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/popper-1.14.7.js' %}"></script> -->
  <!-- <script src="{% static 'js/bootstrap.min.js' %}%"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'imge/logo/blogo.png' %}">

  <title>NEED BLOOD CALL MEDHA</title>
</head>

<body>
  <div class="container-fluid">
    <!-- head title -->
    <!-- <h5 class="head text-white text-center p-3">NEED BLOOD CALL MEDHA</h5> -->

    <!-- navbar
    <nav class="navbar navbar-expand-sm sticky-top">

      logo
      <a class="navbar-brand ml-5" href="#">
        <img src="{% static 'imge/logo/blogo.png' %}" alt="logo" style="width:60px;">
      </a>

      navbar item
      <div class="col">
        <ul class="navbar-nav flex-row-reverse">
          <li class="nav-item text-dark">
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <a class="nav-link font-weight-bolder" href="{% url 'aboutsite1' %}">About Us</a>
          </li>
          Dropdown
          <li class="nav-item dropdown">
            <a class="nav-link font-weight-bolder" href="#" data-toggle="dropdown">
              Log In
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item font-weight-bolder" href="/admin/">Admin</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bolder" href="{% url 'dregsite' %}">Donor Registration</a>
          </li>
          <li class="nav-item font-weight-bolder">
            <a class="nav-link" href="{% url 'searchsite1' %}">Search</a>
          </li>
          <li class="nav-item font-weight-bolder">
            <a class="nav-link" href="{% url 'homesite1' %}">Home</a>
          </li>
        </ul>
      </div>
    </nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">NEED BLOOD CALL MEDHA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/donorreg/">Donor Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search/">Search</a>
        </li>
    </div>
  </div>
</nav>
    
    {% block content %}



    {% endblock %}


  <!-- footer -->
  <div class="footer clearfix bg-danger">
    <p class="text-center text-white p-2">
       Shree Medha Blood Donors
                <br> Fort, Ballari

    </p>

  </div>





  </div>
</body>

</html>
